#Чтобы исключить файлы, не относящиеся к сборке (без реструктуризации исходного репозитория), используйте .dockerignoreфайл.
#Если строка в .dockerignoreфайле начинается со #столбца 1, то эта строка рассматривается как комментарий
#и игнорируется перед интерпретацией CLI.
